header {
  height: $menu-h;
  width: 100%;
  position: relative;

  .logo {
    height: 100%;
    width: calc(100% - 20px);

    img {
      height: 30px;
    }
  }

  a {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);

    i {
      font-size: 20px;
      color: black;
    }
  }
}
