* {-webkit-font-smoothing: antialiased;}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: $shadow;
}

body {
  position: relative;
  margin: 0;
  font-family: Roboto, sans-serif;

  header {
    height: $menu-h;
    width: 100%;
    position: relative;

    .logo {
      height: 100%;
      width: calc(100% - 20px);

      img {
        height: 30px;
      }
    }

    a {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(0, -50%);

      i {
        font-size: 20px;
        color: black;
      }
    }
  }

  .heart {  
    position: absolute;
    right: 20px;
    height: 30px;
    width: 30px;
    opacity: 1;

    .fas {
      display: block;
      font-size: 30px;
      position: absolute;
      color: transparent;
      -webkit-text-stroke: 2px black;
      opacity: 0.5;
    }

    .fas:hover {
      background: linear-gradient(#FF79DA, #9356DC);
      -webkit-background-clip: text;
      -webkit-text-stroke: 0px;
      opacity: 1;
      transition: all 1s ease-in-out;
    }
  }
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(252, 252, 252);
  animation: loader-container 3.6s forwards cubic-bezier(1, 0.09, 0.93, 0.07);
  z-index: 10;
  
  .ball-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  
    .ball {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 0 10px;
      animation-name: loader;
      animation-duration: 1s;
      animation-iteration-count: 3;
    
      &-1 {
        background-color: $primary-color;
      }
    
      &-2 {
        background-color: $secondary-color;
        animation-delay: 0.1s;
      }
    
      &-3 {
        background-color: $third-color;
        animation-delay: 0.2s;
      }
    }
  }
}

.styled-btn {
  font-size: 1.1em;
  margin: 50px 0;
  padding: 15px 20px;
  border-radius: 50px;
  min-width: 200px;
  background-image: linear-gradient(170deg, $secondary-color, $primary-color);
  border: none;
  color: white;
  box-shadow: $shadow;
  letter-spacing: 0.5px;
  transition: .3s;

  &:hover {
    background-color: #fff;
    box-shadow: $shadow-hover;
    filter: brightness(1.05);
    transition: all .3s linear;
  }
}

.fadeInRight {
  animation: fadeInRight .6s forwards;
}
