.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: Roboto;
}
body header {
  height: 70px;
  width: 100%;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
}
body header a {
  height: 100%;
  width: 100%;
}
body header a img {
  height: 30px;
}
body .location {
  background-color: #E5E5E5;
  padding: 15px 0;
}
body .location .container img {
  margin-right: 10px;
  height: 18px;
}
body .location .container p {
  margin: 0;
  font-weight: bold;
  opacity: 0.7;
}
body .explore {
  flex-direction: column;
  text-align: center;
  background-color: #F4F4F4;
}
body .explore h2 {
  margin: 0;
  padding: 20px 0 10px;
}
body .explore p {
  margin: 0;
  color: #a8a8a8;
}
body .explore button {
  font-size: 1.1em;
  padding: 15px 20px;
  border-radius: 50px;
  background: linear-gradient(#9356DC, #FF79DA);
  border: none;
  color: white;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  margin: 30px 0 50px;
}
body .operation {
  padding: 0 10px;
}
body .operation .container__cards .card {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 0 0 30px;
  margin: 0 0 20px 10px;
  background-color: #F4F4F4;
  border-radius: 30px;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
}
body .operation .container__cards .card img {
  height: 18px;
  color: #a8a8a8;
  opacity: 0.6;
  margin-right: 20px;
}
body .operation .container__cards .card p {
  font-weight: 600;
}
body .operation .container__cards .card::before {
  content: "1";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -10px;
  background-color: #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  color: white;
  font-size: 0.8em;
}
body .operation .container__cards .card:nth-child(2) body .operation .container__cards .card::before {
  content: "2";
}
body .operation .container__cards .card:nth-child(3) {
  background: #F3E8FF;
}
body .operation .container__cards .card:nth-child(3)::before {
  content: "3";
}
body .restaurants {
  padding: 0 10px;
  color: black;
  background-color: #F4F4F4;
  padding-bottom: 20px;
}
body .restaurants h1 {
  padding-top: 40px;
}
body .restaurants a {
  text-decoration: none;
  height: 300px;
}
body .restaurants a .card {
  width: 100%;
  height: 280px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
}
body .restaurants a .card .card__image-container {
  width: 100%;
  height: 180px;
}
body .restaurants a .card .card__image-container img {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
body .restaurants a .card .card__text-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  padding: 20px 10px;
  color: black;
}
body .restaurants a .card .card__text-container h2 {
  margin: 0 0 10px;
}
body .restaurants a .card .card__text-container p {
  margin: 0;
  font-size: 1.2em;
}
body .restaurants a .card .card__text-container .heart {
  position: absolute;
  top: calc(50% - 20px);
  bottom: calc(50% - 20px);
  right: 20px;
  height: fit-content;
}
body .restaurants a .card .card__text-container .heart img {
  height: 35px;
}
body .restaurants a .card.new {
  position: relative;
}
body .restaurants a .card.new::before {
  content: "Nouveau";
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 12px;
  color: #0F7753;
  font-weight: 600;
  background-color: #8ADEC5;
  border-radius: 2px;
}

/*# sourceMappingURL=style.css.map */
