@import './vars.scss';
@import './global.scss';

body {
  margin: 0;
  font-family: Roboto;

  header {
    height: $menu-h;
    width: 100%;
    box-shadow: $shadow;

    a {
      height: 100%;
      width: 100%;

      img {
        height: 30px;
      }
    }
  }

  .location {
    background-color: $grey-dark;
    padding: 15px 0;
    
    .container {

      img {
        margin-right: 10px;
        height: 18px;
      }

      p {
        margin: 0;
        font-weight: bold;
        opacity: 0.7;
      }
    }
  }

  .explore {
    flex-direction: column;
    text-align: center;
    background-color: $grey-light;

    h2 {
      margin: 0;
      padding: 20px 0 10px;
    }

    p {
      margin: 
      0;
      color: $grey-text-light;
    }

    button {
      font-size: 1.1em;
      padding: 15px 20px;
      border-radius: 50px;
      background: linear-gradient($primary-color, $secondary-color);
      border: none;
      color: white;
      box-shadow: $shadow;
      letter-spacing: 0.5px;
      margin: 30px 0 50px;
    }
  }

  .operation {
    padding: $container-padding;
    
    .container__cards {

      .card {
        position: relative;
        display: flex;
        align-items: center;
        height: 80px;
        padding: 0 0 0 30px;
        margin: 0 0 20px 10px;
        background-color: $grey-light;
        border-radius: 30px;
        box-shadow: $shadow;

        img {
          height: 18px;
          color: $grey-text-light;
          opacity: .6;
          margin-right: 20px;
        }

        p {
          font-weight: 600;
        }

        &::before {
          content: "1";
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: -10px;
          background-color: $primary-color;
          height: 25px;
          width: 25px;
          border-radius: 15px;
          color: white;
          font-size: .8em;
        }

        &:nth-child(2) &::before {
          content: "2";
        }

        &:nth-child(3) {
          background: $primary-color-ligth;

          &::before {
            content: "3";
          }

          img {
            // TODO: Change img color
          }
        }

      }
    }
  }
}
