$primary-color: #9356DC;
$primary-color-ligth: #F3E8FF;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$grey-dark: #E5E5E5;
$grey-light: #F4F4F4;
$validate-color: #8ADDC6;

$grey-text-light: #a8a8a8;

$shadow: 0px 2px 7px 1px rgba(0,0,0,0.1);

$container-padding: 0 10px;
$max-w-container: 850px;
$menu-h: 70px;

$font-secondary: "Shrikhand", "cursive";