$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$grey-dark: #E5E5E5;
$grey-light: #F4F4F4;

$grey-text-light: #a8a8a8;

$shadow: 0px 2px 7px 1px rgba(0,0,0,0.1);

$max-w-container: 850px;
$menu-h: 70px;