.menu {
  position: relative;
  margin-bottom: -40px;

  .restaurant__image {
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  .restaurant__menu {
    position: relative;
    top: -40px;
    border-radius: 40px 40px 0 0;
    padding: 20px;
    background-color: $grey-light;

    header {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 720px;
      margin: 0 auto;

      h2 {
        margin: 10px 0 0 0;
        font-size: 1.8em;
        font-weight: 400;
        font-family: $font-secondary;
      }
    }

    .restaurant__menu-list {

      .menu-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 720px;
        margin: 0 auto;

        h3 {
          position: relative;
          width: auto;
          text-transform: uppercase;
          color: $grey-text-light;  
          
          &:after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 40px;
            height: 4px;
            background-color: $third-color;
          }
        }

        &:nth-child(1) h3 { 
          animation-delay: 0s; 
        }
        
        &:nth-of-type(2) h3 { 
          opacity: 0; 
          animation-delay: .9s; 
        }
        &:nth-of-type(3) h3 { 
          opacity: 0; 
          animation-delay: 1.8s; 
        }
  
        ul {
          margin: 0 0 30px;
          padding: 0;
          display: flex;
          flex-direction: column;
  
          &:last-of-type {
            margin: 0;
          }
  
          li.card {
            display: flex;
            position: relative;
            list-style: none;
            margin-bottom: 20px;
            box-shadow: $shadow;
            border-radius: 20px;
            background-color: $grey-light;
            overflow: hidden;
            animation: fadeInUp .6s linear;
            animation-fill-mode: both;
  
            &:nth-child(1) { animation-delay: .2s; }
            &:nth-child(2) { animation-delay: .4s; }
            &:nth-child(3) { animation-delay: .6s; }
            
            .card-wrapper {
              display: flex;
              padding: 13px;
              flex-grow: 1;
              flex-direction: column;
              overflow: hidden;
              flex-shrink: 10;
              
              .card-title {
                font-size: 1.2em;
                font-weight: 500;
                margin: 0;
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              
              .card-content {
                display: flex;
                justify-content: space-between;
  
                p {
                  margin: 5px 0;
                  font-size: .9em;
                  color: $grey-text-light;
                  font-weight: 500;
  
                  &:nth-child(1) {
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100px;
                  }
                  
                  &:nth-child(2) {
                    color: black;
                  }
                }
              }
            }
  
            .card-validate {
              display: flex;
              overflow: hidden;
              align-items: center;
              align-self: stretch;
              background-color: $validate-color;
              border-radius: 0 20px 20px 0;
              transition: width .4s;
              width: 0;
              
              i {
                display: none;
                padding: 0 25px;
                
                &::before {
                  background-color: white;
                  padding: 3px;
                  border-radius: 100%;
                  color: $validate-color;
                }
              }
            }
            
            &:hover .card-validate {
              width: 70px;
              transition: width .4s;
              
              i {
                display: block;
                animation-name: buttonAnim;
                animation-duration: .4s;
                animation-delay: .2s;
              }
            }
          }
  
          &.plat li { 
            &:nth-child(1) { animation-delay: 1.2s; }
            &:nth-child(2) { animation-delay: 1.4s; }
            &:nth-child(3) { animation-delay: 1.6s; }
          }
  
          &.dessert li { 
            &:nth-child(1) { animation-delay: 2.2s; }
            &:nth-child(2) { animation-delay: 2.4s; }
            &:nth-child(3) { animation-delay: 2.6s; }
          }
        }
      }
    }
  }
}
